.itemsOuterContainer {
  position: relative;
}

.rowButton {
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  background-color: white;
  opacity: 60%;
  transition: opacity 150ms ease-out;
  &:hover,
  &:focus-visible {
    opacity: 90%;
  }
}

.rightButton {
  right: 1rem; // ! 'right' changes to this property will trigger: 'Paint', which can impact performance.webhintdetect-css-reflows/paint
}

.itemsInnerContainer {
  gap: 1.2rem;
  margin-top: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  // scroll-snap-type: x mandatory;
  overscroll-behavior-inline: contain; // prevent browser forwards/backwards swipe action when swiping inside list
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  @media (min-width: 600px) {
    grid-auto-columns: 20%;
  }
  @media (min-width: 920px) {
    grid-auto-columns: 13%;
  }
  // @media (min-width: 1120px) {
  // grid-auto-columns: 18%;
  // }
}
