.mediaListContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;

  .mediaCard {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(25 33 52);
    border-radius: 10px;
    padding-bottom: 2rem;
    flex: 1 19%;
    // ! repeat from app scss add try?
    max-width: 245px;
    position: relative;
    margin-bottom: 0.1rem;
    // ! repeat from bookamkrs scss copy try?
    position: relative;
    @media (max-width: 920px) {
      flex: 1 25%;
    }
    @media (max-width: 600px) {
      // flex: 1 47%;
      flex: 1 46%;
    }

    .mediaCardPoster {
      object-fit: cover;
      height: 294px; // if no img placement card spacing fix? text positioning
    }

    .mediaInfo {
      position: relative;
      margin-top: 2rem;
      padding: 0.7rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .mediaTitle {
        // ! repeat form detailed scss
        font-size: 1.4rem;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
          // ! repeat form app scss
        }
      }

      .mediaReleaseDate {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        color: hsl(250, 14%, 68%);
      }

      .userScoreContainer {
        position: absolute;
        top: -3.5rem;
        width: 50px;
      }
    }
  }
}

.pagination {
  margin: 0 auto;
  justify-content: center;
  //   width: 100%;
}

.mediaListMessage {
  opacity: 0.4;
}
