.content {
  margin-top: 1rem;
  // display: flex;
  // flex-wrap: wrap;
  .grid {
    gap: 2rem;
    display: grid;
    // justify-content: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); // ! not reduce width like 1ft, but if less than 4 -> e.g. bookmarks with 1fr: causes extra empty width
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); // ! better? not stretch to fill width?
  }
}

.pagination {
  // display: block;
  margin: 0 auto;
  margin-top: 1.8rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mediaListMessage {
  opacity: 0.4;
}
