.App {
  min-height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  // max-width: 69rem;
  margin: 0 auto;
  @media (min-width: 850px) {
    flex-direction: row;
  }
}

.App-main {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin); // ?
  color: white;
  padding: 2rem 2rem 10rem;
  padding-top: 1rem;
  flex-grow: 2;
  width: 100%;
  // max-width: 65rem;
  overflow-x: hidden;
  margin: 0 auto;
  padding-top: 7rem;
  @media (min-width: 850px) {
    padding-top: 2rem;
    padding-left: 7rem;
  }
}

.CircularProgressbar-text {
  // font-weight: 700;
  dominant-baseline: middle; // !
  text-anchor: middle; // !
}
