.App {
  min-height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  @media (min-width: 850px) {
    flex-direction: row;
  }
}

.App-main {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin); // ?
  color: white;
  padding: 2rem 2rem 10rem;
  padding-top: 1rem;
  flex-grow: 2;
  width: 100%;
  max-width: 57rem;
  overflow-x: hidden;
  margin: 0 auto;
  .list {
    display: flex;
    flex-direction: column;
    max-width: 57rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    .list-name {
      text-align: left;
      text-transform: capitalize;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }
    .list-items {
      gap: 1.2rem;
      display: flex;
      overflow-y: hidden;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
    .movie-poster {
      border-radius: 10px;
      scroll-snap-align: start;
      min-height: calc(150px * 1.5);
      height: calc(150px * 1.5);
    }
    .movie-card {
      position: relative;
      margin-bottom: 0.1rem;
      &:hover .movie-card-title {
        text-decoration: underline;
      }
      .movie-card-title {
        position: absolute;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        left: 10px;
        bottom: 10px;
        text-shadow: 1px 0 20px #000, 0 -1px 0 #000, 0 1px 20px #000,
          -1px 0 0 #000;
      }
    }
  }
}
